<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <% console.log(locals) %>
        <h1>You are logged in, <%= username %></h1>
        <% if (isMember) {%>
        <button id="message-btn">Create a new message</button>
        <% } else { %>
        <a href="/secret">secret</a>
        <% } %> <% messages.forEach(message => { %>
        <p><%= message.username %></p>
        <p>at <%= message.date %></p>
        <h3><%= message.title %></h3>
        <p><%= message.message %></p>
        <% }) %>
        <form action="/log-out" method="post">
            <button>Log out</button>
        </form>
    </body>
    <%- include('addMessage') %>
</html>
<script>
    const messageBtn = document.querySelector("#message-btn");
    const messageForm = document.querySelector("dialog");
    messageBtn.addEventListener("click", () => messageForm.showModal());
</script>
