<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', {title: 'Members Only | Homepage', css: 'indexAuthenticated.css'}) %>
    <body>
        <div class="btn-container">
            <form action="/log-out" method="post"><button class="logout-btn">Log out</button></form>
        </div>
        <% if (isMember) {%>
        <button id="message-btn">Create a new message</button>
        <% } else { %>
        <div class="secret-container">
            <a href="/secret" class="secret-btn"><img src="/icons/key.svg" alt="key" /></a>
        </div>
        <% } %>
        <!---->
        <div class="messages-container">
            <% messages.forEach(message => { %>
            <div class="message-card">
                <div>
                    <img src="<%= message.pfp_url %>" alt="profile picture url" />
                    <span>
                        <p><%= message.username %></p>
                        <p>at <%= message.date %></p>
                    </span>
                </div>
                <h3><%= message.title %></h3>
                <p><%= message.message %></p>
                <% if (isAdmin){ %>
                <form action="/message/delete/<%= message.id %>" method="post">
                    <button class="delete-btn">DELETE</button>
                </form>
            </div>
            <% } %> <% }) %>
        </div>
    </body>
    <%- include('addMessage') %>
</html>
<script>
    const messageBtn = document.querySelector("#message-btn");
    const messageForm = document.querySelector("dialog");
    messageBtn.addEventListener("click", () => messageForm.showModal());
</script>
